body {
    background-image: linear-gradient(#ffffff,#ffffff);
}

.navbar {
    background-color: rgb(235, 235, 235);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    /* align to  center horizontal*/
    justify-content: center;
    /*Align to middle vertical*/
    align-items: center;
    gap: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.title {
    margin-right: auto;
    text-align: left;
    line-height: 0;
}

.navbar p {
    text-align: right;
    margin-left: auto;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: royalblue;
    border-radius: 15px;
    margin: 5px;
}
